.MuiAvatar-root.MuiAvatar-square.news__avatar {
  width: 90px;
  height: auto;
}

.news__title {
  font-size: 15px;
  cursor: pointer;
  line-height: 140%;
  font-weight: 700;
  font-family: 'Merriweather', serif;
  &:hover {
    color: cornflowerblue;
  }
}
.news__author {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #108885;
}
.news__description {
  font-size: 10px;
  line-height: 140%;
  font: 400 15px arial;
  text-align: justify;
}
.news__box {
  width: 100%;
}
