.card__cases {
  padding: 10px;
  .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
    overflow: hidden;
    margin: 10px 0;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .MuiCardHeader-root {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 0;
      background-color: #f8a8cc;
      .MuiCardHeader-content {
        .MuiTypography-root.MuiCardHeader-title.MuiTypography-h5.MuiTypography-displayBlock {
          @media screen and (max-width: 480px) {
            font-size: 13px;
          }
          font-size: 20px;
          font-weight: bold;
          color: #cb2b83;
        }
      }
    }
    .MuiCardContent-root {
      padding: 5px 10px;
      p {
        font-weight: bold;
        margin-bottom: 5px;
        color: #cb2b83;
      }
      > p:nth-child(1) {
        font-size: 1rem;
      }
      > p:nth-child(2) {
        font-size: 0.8rem;
        line-height: 0.7rem;
      }
      > p:nth-child(3) {
        font-size: 0.5rem;
      }
      p {
        span {
          font-size: 0.6rem;
          font-weight: normal;
        }
      }
    }
  }
}

.card__deaths {
  padding: 10px;
  .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
    overflow: hidden;
    margin: 10px 0;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .MuiCardHeader-root {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 0;
      background-color: #726d6d;
      .MuiCardHeader-content {
        .MuiTypography-root.MuiCardHeader-title.MuiTypography-h5.MuiTypography-displayBlock {
          @media screen and (max-width: 480px) {
            font-size: 13px;
          }
          font-size: 20px;
          font-weight: bold;
          color: #afabab;
        }
      }
    }
    .MuiCardContent-root {
      padding: 5px 10px;
      p {
        font-weight: bold;
        margin-bottom: 5px;
        color: #afabab;
      }
      > p:nth-child(1) {
        font-size: 1rem;
      }
      > p:nth-child(2) {
        font-size: 0.8rem;
        line-height: 0.7rem;
      }
      > p:nth-child(3) {
        font-size: 0.5rem;
      }
      p {
        span {
          font-size: 0.6rem;
          font-weight: normal;
        }
      }
    }
  }
}
.card__recovered {
  padding: 10px;
  .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
    overflow: hidden;
    margin: 10px 0;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .MuiCardHeader-root {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 0;
      background-color: #e4f88b;
      .MuiCardHeader-content {
        .MuiTypography-root.MuiCardHeader-title.MuiTypography-h5.MuiTypography-displayBlock {
          @media screen and (max-width: 480px) {
            font-size: 13px;
          }
          font-size: 20px;
          font-weight: bold;
          color: #8bbb11;
        }
      }
    }
    .MuiCardContent-root {
      padding: 5px 10px;
      p {
        font-weight: bold;
        margin-bottom: 5px;
        color: #8bbb11;
      }
      > p:nth-child(1) {
        font-size: 1rem;
      }
      > p:nth-child(2) {
        font-size: 0.8rem;
        line-height: 0.7rem;
      }
      > p:nth-child(3) {
        font-size: 0.5rem;
      }
      p {
        span {
          font-size: 0.6rem;
          font-weight: normal;
        }
      }
    }
  }
  padding: 10px;
}
