.allNews__table {
  .ant-table-thead {
    .ant-table-cell {
      background-color: #108885;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
    }
  }
  .ant-table-tbody {
    .ant-table-row.ant-table-row-level-0 {
      color: gray;
      cursor: pointer;
      &:hover {
        color: #108885;
      }
    }
  }
}
.react-clock {
  margin: auto;
  margin-bottom: 15px;
}
