// .header__root {
//   flex-grow: 1;
//   display: flex;
// }

.header__slogan {
  flex-grow: 1;
  color: white;
}

.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
  color: white;
}
